*{
	margin:0;
	padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}
body{
	width: 100vw;

	
}
.red{
   background:hsl(360, 91%, 39%);
}
.black{
	background: hsl(0,0%,0%);
}
.nav-ul{
	display: flex;
	flex-direction: row;
}
.nav-list{
	padding: 5px 20px;
	list-style: none;
	font-weight: 900px;
    font-size: 25px;

}
.nav-list.activenav{
	background-image: linear-gradient(to right,hsl(360, 91%, 39%),hsl(0,0%,10%));
	color: white;
	display: block;
	padding:5px 20px;
}
@font-face{
	font-family: "my-font";
	src: url('img/runfont.ttf');
}
.bike-collections{
	position: relative;
	width: 100vw;
	display: flex;
	overflow-x: hidden;
	margin:30px 0px 10px 0px;
}
.product-pic-related{
	width: 50%;
	height: 450px;
    margin-right: 5%;

}
.logo-related{
	width: 30%;
	height: 500px;
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	align-items: center;

}

.logo-img{
  width: 200px;
  height: 150px;
}


.product-pic{
	width: 100%;
	height: 400px;
	background-image:url("img/2.png");
	background-size: 100% 100%;
	animation:change 2s infinite linear;
	transition: 0.7s all linear;
}


.product-pic1{
	width: 100%;
	height: 400px;
	background-image:url("img/e1.png");
	background-size: 100% 100%;
	animation:change 2s infinite linear;
	transition: 0.7s all linear;
}

@keyframes change{
	0%{
       transform: translateY(-8px);
	}
	50%{
    transform: translateY(8px);
	}
	100%{
    transform: translateY(-8px);
	}
}
.product-color{
	margin-top: 10px;
	
	display: flex;
	justify-content: center;
}
.product-color span{
	position: relative;
	width: 18px;
	height: 18px;
	margin: 10px 20px;
	border-radius: 50%;
	border:2px ridge;

}
.product-color .active:after{
	position:absolute;
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border:2px solid black;
    top: -4px;
    left: -4px;
}
.grey{
	background: hsl(0,0%,70%);
}
.yellow{
	background: hsl(48, 100%, 50%);
}
.green{
	background:hsl(75, 100%, 37%);
}
.description{
	color:black;
	font-size:25px;
	font-weight: 500;
	margin: 10px 0px;
}
.heading{
    color: hsl(0,0%,80%);
    float: left;
}
ul{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin:8px 0px;
}
li{
	color:hsl(360, 91%, 39%);
	list-style: none;
	margin-bottom: 10px;
}
#car{
	width: 100vw;
	height: 700px;
	position: relative;
	display: flex;
	overflow-x: hidden;
}
#car-left{
	width: 50vw;
	height: 100%;
	padding:20px 30px;
	display: flex;
	
	color: white;
	box-sizing: border-box;
	flex-direction: column;
	background-image:linear-gradient(to left , hsl(200, 3%, 18%),hsl(0,0%,0%));
}
#car-right{
	width: 50vw;
	height: 100%;
	padding:10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	background-image: linear-gradient(to right,hsl(360, 91%, 39%),hsl(0,0%,10%));
}
#racer-img{
	width: 300px;
	height: 250px;
	background: url('img/flag.png');
	background-size:100% 100%; 
}
#racer-description{

	font-family: "my-font";
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 4px;
	color: white;
}
#car-img{
	position: absolute;
	left: 50%;
	top:25%;
	background: url('img/car.png');
	width: 400px;
	height: 90%;
	background-size: 100% 100%; 
	transform: translateX(-50%);
	animation:carmove 1s linear;
	z-index: 999;
	animation-fill-mode: forwards;
}
@keyframes carmove{
 0%{
 	top: 15%;
 }
 100%{
 	top: 5%;
 }
}
.car-name{
	font-size: 45px;
	font-weight: 500;
	font-family: "my-font";
	letter-spacing: 4px;
}
.car-description{
	font-size: 25px;
	color: hsl(0,0%,80%);
}
.car-list{
	font-size: 30px;
	font-weight: 600;
	line-height: 50px;
	color: white;
}

#electric-cycle{
	font-size: 30px;
	font-weight: 
   800;

}

button{
	color: white;
	border-radius: 10px;
    border:0px;
    cursor: pointer;
    outline: none;
	width: 150px;
	font-size: 25px;
	padding: 15px 10px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	background-image: linear-gradient(to right,hsl(360, 91%, 39%),hsl(0,0%,10%));
}
@media only screen and (max-width: 800px){
	.bike-collections{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.product-pic-related,.logo-related{
		width: 95vw;
		margin-right: 0;
		


	}
	.nav-list{
		display: none;
	}
	#car{
		height: 600px;
	}
	#car-img{
		width: 200px;
		height: 70%

	}
	@keyframes carmove{
 0%{
 	top: 30%;
 }
 100%{
 	top: 20%;
 }
}
	#car-left{
		padding:10px 5px;

	}
	.car-name{
	
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	}
	.car-description{
	font-size: 16px;
}
.car-list{
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}
   #racer-img{
   	position: relative;
   	left: 30px;
	width: 70px;
	height: 70px;
	}
	#racer-description{

	position: absolute;
    bottom: 0;
	font-size: 20px;
	font-weight: 300;
}
